@import url(https://cdn.jsdelivr.net/gh/chandan-tudu/cascadia-code@master/style.min.css);
code[class*=language-],
pre[class*=language-] {
  color: #f7f1ff !important;
  font-family: "Cascadia Code", monospace !important;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #d84315;
  color: #fff;
}

pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  text-shadow: none;
  background: #d84315;
  color: #fff;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
/* mkaz: require to override twentynineteen */
.token.cdata,
.token.comment,
.token.prolog {
  /* color: #69676c; */
  color: #818085;
  border: none;
  padding-left: 0;
  font-family: monospace, "Cascadia Code";
}

.token.operator.colon {
  color: #f7f1ff;
}

.token.tag .token.punctuation,
.token.punctuation {
  color: #ABABAB;
}

.token.doctype-tag,
.token.tag {
  color: #ff7598;
}

.token.selector {
  color: #ff7598;
}

.token.pseudo-element {
  color: #5ad4e6;
  font-style: italic;
  font-feature-settings: "calt", "ss01";
}

.token.boolean,
.token.deleted,
.token.number,
.token.property,
.token.symbol {
  color: #a198e6;
}

.token.constant {
  color: #5ad4e6;
}

.token.attr-name,
.token.doctype .token.name {
  color: #5ad4e6;
}

.token.attr-value,
.token.builtin,
.token.char,
.token.inserted,
.token.string,
.token.string.url {
  color: #fce566;
}

.token.entity,
.token.url {
  color: #fce566;
}

.token.operator {
  color: #ff7598;
}

.token.rule {
  color: #ff7598;
}

.token.atrule {
  color: #5ad4e6;
}

.token.keyword {
  color: #ff7598;
}

.token.keyword.nil {
  color: #a198e6;
}

.token.function.property-access,
.token.function {
  color: #7bd88f;
}

.token.atrule .token.property,
.token.parameter {
  color: #fd9353;
}

.token.regex,
.token.variable {
  color: #f7f1ff;
}

.token.regex-delimiter,
.token.regex-flags {
  color: #ff7598;
}

.token.regex-source {
  color: #f7f1ff;
}

.token.important {
  color: #ff7598;
}

.token.entity {
  cursor: help;
}

.token.delimiter {
  color: #fd9353;
  font-weight: 400;
}

.token.literal-property {
  color: #f7f1ff;
}

.token.unit {
  color: #ff7598;
}

.token.class-name {
  color: #7bd88f;
}

.token.class-name {
  color: #5ad4e6;
}

.token.identifier {
  color: #fce566;
}

.token.hexcode.color {
  color: #a198e6;
}

.token.property-access {
  color: #a198e6;
}

.token.known-class-name,
.token.class-keyword,
.token.const-keyword,
.token.function-keyword,
.token.let-keyword,
.token.var-keyword {
  color: #5ad4e6;
  font-style: italic;
  font-feature-settings: "calt", "ss01";
}

.token.brackets,
.token.interpolation-punctuation.punctuation,
.token.template-punctuation {
  color: #ff7598;
}

.language-markup .id-attr-name + .token.attr-value,
.language-php .id-attr-name + .token.attr-value,
.token.language-markup .id-attr-name + .token.attr-value {
  color: #fd9353;
}

.language-markup .class-attr-name + .token.attr-value,
.language-php .class-attr-name + .token.attr-value,
.token.language-markup .class-attr-name + .token.attr-value {
  color: #7bd88f;
}

.language-css,
.token.language-css {
  color: #5ad4e6 !important;
}

.language-css .token.token.property,
.token.language-css .token.token.property {
  color: #f7f1ff;
}

.language-css .token.class,
.token.language-css .token.class {
  color: #7bd88f;
  font-style: italic;
  font-feature-settings: "calt", "ss01";
}

.language-json .token.property,
.token.language-json .token.property {
  color: #f7f1ff;
}

.language-php .protected-keyword,
.token.attr-name,
.token.doctype .token.name,
.token.italic,
.token.language-php .protected-keyword,
.token.parameter,
.token.string.url {
  font-style: italic;
  font-feature-settings: "calt", "ss01";
}

.language-php .token.operator + .token.property,
.token.language-php .token.operator + .token.property {
  color: #f7f1ff;
}

.language-php .token.constant,
.token.language-php .token.constant {
  color: #a198e6;
}

.language-sql .token.brackets,
.token.language-sql .token.brackets {
  color: #fd9353;
}

.language-sql .token.operator,
.token.language-sql .token.operator {
  color: #5ad4e6;
}

.language-sql .current_timestamp-keyword,
.token.language-sql .current_timestamp-keyword {
  color: #7bd88f;
}

.token.language-javascript {
  color: #f7f1ff;
}

.token.language-javascript .token.brackets {
  color: #fce566;
}

.language-jsx .token.tag .token.attr-name {
  color: #7bd88f;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  /* Padding can be tweaked by themes, but if top padding is off
  /* the line numbers don't align with the row. */
  padding-top: 0 !important;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5c6370;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.prism-titlename {
  margin: -16px -16px 24px -16px;
  padding: 4px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}